body{background-color:green;}
h1{text-align:center;color:red;background-color:pink;font-size:100;font-family:impact;}
h2{text-align:center;color:red;background-color:pink;font-size:90;font-family:impact;}
p{color:red;background-color:pink;font-size:80;font-family:impact;}
p{color:red;background-color:pink;font-size:70;font-family:impact;}
p{color:red;background-color:pink;font-size:60;font-family:impact;}
p{color:red;background-color:pink;font-size:50;font-family:impact;}