.body{
	background-color:pink;
}
.heading{ 
	color: pink;background-color: blue;
}
	color: red;background-color: pink;

.heading{
	color:blue;background-color:pink;}

	.heading{color:blue;background-color:pink;

	}
